.infinity-wrapper{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    height: 100%;
}
h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 700;
}

.infinity-loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255, 0.8);
}
.infinity-loader .infinity-loader-image{
    height: 100px;
    width: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.infinity-image-container{
    margin: 10px 30%;
}

.infinity-image-container img{
    width: 100%;
    margin-top: 5px;
}

@media screen and (max-width: 600px){
    h1{
        font-size: 20px;
    }

    .infinity-image-container{
        margin: 10px;
    }
}